@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #262626;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.wrapper h1 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.wrapper h3 {
  letter-spacing: 3px;
  color: #ccc;
}

.wrapper h4 {
  font-weight: 200;
  padding-top: 5px;
}

.cards {
  width: 60%;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 100%;
    margin: 20px auto;
  }
}

.card-item {
  width: 23%;
  height: 170px;
  background: #373737;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
  border: 1px solid #3c3c3c;
  background: url(images/question_mark.png) center/65% no-repeat;
  opacity: 0;
}

.card-item:hover {
  cursor: pointer;
}

.card-item img {
  max-width: 70%;
  transform: rotateY(180deg);
}

@media screen and (max-width: 500px) {
  .card-item {
    height: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .card-item {
    height: 120px;
  }
}

.active {
  background: none;
  transform: rotateY(180deg);
  box-shadow: 0px 0px 13px 10px #3c3c3c;
}

.pairTrue {
  transform: rotateY(180deg) scale(1.15);
  box-shadow: 0px 0px 13px 7px #056716;
}

.hideCard {
  opacity: 0;
  visibility: hidden;
}

#playGame {
  padding: 15px 80px;
  font-size: 20px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #056716;
  border-radius: 10px;
  color: #fff;
  box-shadow: inset 0px -11px 7px -10px #056716;
  position: absolute;
  top: 270px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

#playGame:hover {
  transform: scale(1.1);
  box-shadow: inset 0px -11px 7px -7px #056716;
}
